[Unit]
Description=Firefox_Service
BindsTo=graphical-session.target

[Service]
ExecStartPre=/bin/sleep 5
;ExecStart=%h/bin/ffox
ExecStart=/usr/bin/flatpak run firefox
ExecStop=killall -9 firefox

[Install]
WantedBy=graphical-session.target
