[Unit]
Description=Custom mounts
PartOf=multi-user.target
Before=mediabox.service p2p.target

[Service]
Type=oneshot
Environment=name=volatile
Environment=L=LABEL=volatile
Environment=mount_path=/media/fra/volatile

ExecStartPre=/bin/bash -c "wait-mount.sh $name || { mkdir -p $mount_path; sudo mount $mount_path; }"
ExecStart=%h/.bin/wait-mount.sh $name
[Install]
WantedBy=multi-user.target
