[Unit]
Description=Resample OHLCV data to 1d
Requires=ohlcv.service

[Service]
Type=oneshot
EnvironmentFile=%h/.config/systemd/user/resample.env
ExecStart=%h/bin/jle %h/scripts/crypto/btcli.jl resample -f=${FROM_TIMEFRAME} -t=${TO_TIMEFRAME} -e=${EXCHANGES} -q=${QC}

[Install]
WantedBy=multi-user.target
