[Unit]
Description=Samba shares
PartOf=sway-session.target
After=mediabox.service
Requires=mediabox.service

[Service]
Type=oneshot
ExecStartPre=%h/.bin/wait-samba.sh
ExecStart=%h/.bin/mount-samba.sh localhost streams shows Downloads
# ExecStop=%h/.bin/mount-samba.sh -u localhost streams shows Downloads

[Install]
WantedBy=sway-session.target
