[Unit]
Description=Keep devices mounted
PartOf=multi-user.target
Before=mediabox.service p2p.target

[Service]
Type=simple
ExecStart=%h/.config/systemd/scripts/check_mount.sh

[Install]
WantedBy=multi-user.target
