[Unit]
Description=Swap with zswap
After=default.target

[Service]
Environment=SWAP_DEVICE=/dev/zvol/rpool/swap
#Environment=SWAP_UUID=61af6833-0083-4095-823c-e7c54fd6db86
Environment=PARAMS="/usr/bin/sudo tee /sys/module/zswap/parameters"
Type=oneshot
RemainAfterExit=true
ExecStartPre=-/usr/bin/sudo rmmod zram
ExecStartPre=-/usr/bin/sudo swapoff -a
ExecStartPre=/usr/bin/sudo modprobe zswap
ExecStartPre=/bin/bash -c "echo z3fold | $PARAMS/zpool"
ExecStartPre=/bin/bash -c "echo zstd | $PARAMS/compressor"
ExecStartPre=/bin/bash -c "echo 95 | $PARAMS/max_pool_percent"
ExecStartPre=-/bin/bash -c "echo 97 | $PARAMS/accept_threshold_percent"
ExecStartPre=/bin/bash -c "echo 3 | /usr/bin/sudo tee /proc/sys/vm/drop_caches"
#ExecStartPre=/bin/bash -c "SWAP_DEV=`findfs UUID=$SWAP_UUID`; /usr/bin/sudo /usr/sbin/swapon $SWAP_DEV"
ExecStartPre=/bin/bash -c "/usr/bin/sudo /usr/sbin/swapon $SWAP_DEVICE"
ExecStart=/bin/bash -c "echo 1 | $PARAMS/enabled"
ExecStop=/bin/bash -c "echo 0 | $PARAMS/enabled"
ExecStopPost=/usr/bin/sudo rmmod zswap

[Install]
WantedBy=multi-user.target
