# mine
.cluster
.wallets*
share/backups
3dp/

# generic
dev/
.local/
.secrets/
.fonts/
.icons/
.themes/
!Templates/
Desktop/
Downloads/
Documents/
Pictures/
Calibre\ Library/
tmp/
share/
.tmux/plugins/*
.Xauthority
.nx/
.aws
.deft
org/
.git-credentials
.gitconfig
.gnupg
.*history*
.lesshst
.ipython/
.ipynb_checkpoints/
.jupyter/
.TabNine/
.mail/
.doom.d/mail.el
.mu/
.mbsync*
.mozilla
.mono
.wegorc
.wget-hsts
.netrc
.tor/
.tor
.lokinet/
.lokinet
.authinfo*
.ngrok2
.nix-profile
.npm/
.node-gyp/
.viminfo
.ssh/
.visidata
remmina/
.Tribler/
.cache/
.ccache/
.cargo/
.rustup/*
!.rustup/settings.toml
.pki/
.rclone.conf
.travis/
.vagrant.d/
.var/
.stremio-server/
.steam/
.vscode/*
.vscode-server/*
!.vscode-server/argv.json
!.vscode/argv.json
.wine/
.wine32/
.zcompdump
.babel.json
.ansible-console_history
.ansible
.authinfo*
.bash_history
.docker
.ipython
.jupyter
.mbsyncrc
.node_repl_history
.python_history
.remmina
.weechat/
.ssh
.travis
.vagrant.d
.vcpkg
.clojure/*
!.clojure/deps.edn
!.clojure/user.cl
.cpan/*
!.cpan/CPAN/
.emacs.d/
.pylint.d/
.pyenv/
.racket/
.sudo*
.gem
.java/
.julia/*
!*.java/.userPrefs/
!*.julia/prefs
!*.julia/config
!*.julia/environments
\#*
/.landscape/
/.nx
/.dbus/
.grip/
.mume/
.android/
/.venv/
/.ipfs/*
!/.ipfs/config
