# mine
.cluster
.wallets*
3dp/
share/backups

# generic
!*.java/.userPrefs/
!*.julia/config
!*.julia/environments
!*.julia/prefs
!.clojure/deps.edn
!.clojure/user.cl
!.cpan/CPAN/
!.rustup/settings.toml
!.vscode-server/argv.json
!.vscode/argv.json
!/.ipfs/config
!Templates/
.*history*
.TabNine/
.Tribler/
.Xauthority
.android/
.ansible
.ansible-console_history
.authinfo*
.authinfo*
.aws
.babel.json
.bash_history
.cache/
.cargo/
.ccache/
.clojure/*
.cpan/*
.deft
.docker
.doom.d/mail.el
.doom.d/vimish-fold
.doom.d/custom.el
.dotnet/
.emacs.d/
.fonts/
.gem
.git-credentials
.gitconfig
.gnupg
.goenv/
.grip/
.icons/
.ipynb_checkpoints/
.ipython
.ipython/
.java/
.julia/*
.jupyter
.jupyter/
.lesshst
.local/
.lokinet
.lokinet/
.mail/
.mbsync*
.mbsyncrc
.mono
.mozilla
.mu/
.mume/
.netrc
.ngrok2
.nix-profile
.node-gyp/
.node_repl_history
.npm/
.nuget/
.nx/
.pki/
.pyenv/
.pylint.d/
.python_history
.racket/
.rclone.conf
.remmina
.rustup/*
.secrets/
.ssh
.ssh/
.steam/
.stremio-server/
.sudo*
.themes/
.tmux/plugins/*
.tor
.tor/
.travis
.travis/
.vagrant.d
.vagrant.d/
.var/
.vcpkg
.viminfo
.visidata
.vscode-server/*
.vscode/*
.weechat/
.wegorc
.wget-hsts
.wine/
.wine32/
.zcompdump
/.choosenim/
/.dbus/
/.ipfs/*
/.landscape/
/.msmtp.log
/.nimble/
/.nx
/.venv/
/nltk_data/
Calibre\ Library/
Desktop/
Documents/
Downloads/
Pictures/
\#*
dev/
go/
org/
remmina/
share/
tmp/
nimsuggest.log
/supervisord.pid
