<?xml version="1.0" encoding='UTF-8'?><root>
<gpick type="dynv">
<converters type="dynv">
<window type="dynv">
<height type="int32">293</height>
<width type="int32">336</width>
</window>
</converters>
<generate_scheme type="dynv">
<hsv_shift type="float" list="true"><li>0</li><li>0.36964</li><li>0.182772</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li><li>0</li></hsv_shift>
<hue type="float">231.429</hue>
<lightness type="float">-31.5686</lightness>
<saturation type="float">14.8936</saturation>
<type type="int32">0</type>
<wheel_locked type="bool">false</wheel_locked>
<wheel_type type="int32">0</wheel_type>
</generate_scheme>
<layout_preview type="dynv">
<css_selectors type="dynv">
<assignments type="dynv">
<menu_b type="dynv">
<color type="color">0.7 0.7 0.7 0</color>
</menu_b>
<navitem_b type="dynv">
<color type="color">0.3 0.3 0.3 0</color>
</navitem_b>
<navitem_bh type="dynv">
<color type="color">0.3 0.3 0.3 0</color>
</navitem_bh>
<navitem_t type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_t>
<navitem_th type="dynv">
<color type="color">0.8 0.8 0.8 0</color>
</navitem_th>
</assignments>
</css_selectors>
<layout_name type="string">std_layout_menu_1</layout_name>
</layout_preview>
<main type="dynv">
<color_source type="string">color_picker</color_source>
<paned_position type="int32">489</paned_position>
<secondary_color_source type="string"></secondary_color_source>
<vertical_paned_position type="int32">0</vertical_paned_position>
<window type="dynv">
<height type="int32">523</height>
<width type="int32">635</width>
<x type="int32">963</x>
<y type="int32">279</y>
</window>
</main>
<options type="dynv">
<window type="dynv">
<height type="int32">490</height>
<width type="int32">475</width>
</window>
</options>
<picker type="dynv">
<component_edit type="dynv">
<window type="dynv">
<height type="int32">125</height>
<width type="int32">190</width>
</window>
</component_edit>
<contrast type="dynv">
<color type="color">1 1 1 0</color>
</contrast>
<expander type="dynv">
<cmyk type="bool">false</cmyk>
<hsl type="bool">false</hsl>
<hsv type="bool">false</hsv>
<info type="bool">false</info>
<lab type="bool">false</lab>
<lch type="bool">false</lch>
<rgb type="bool">false</rgb>
<settings type="bool">false</settings>
</expander>
<sampler type="dynv">
<falloff type="int32">0</falloff>
<oversample type="int32">0</oversample>
</sampler>
<swatch type="dynv">
<active_color type="int32">5</active_color>
<color1 type="color">0 0 0 4.57454e-41</color1>
<color2 type="color">0.521569 0.6 0 0</color2>
<color3 type="color">1 0.0196078 0.0196078 3.083e-41</color3>
<color4 type="color">1 1 1 4.57174e-41</color4>
<color5 type="color">0.235294 0.219608 0.211765 3.07361e-41</color5>
<color6 type="color">0.25098 0.270588 0.321569 0</color6>
</swatch>
<zoom type="float">20</zoom>
<zoom_size type="int32">150</zoom_size>
</picker>
<recent type="dynv">
</recent>
<tools type="dynv">
<color_space_sampler type="dynv">
<axis0 type="dynv">
<max_value type="float">1</max_value>
<min_value type="float">0</min_value>
<samples type="int32">12</samples>
</axis0>
<axis1 type="dynv">
<max_value type="float">1</max_value>
<min_value type="float">0</min_value>
<samples type="int32">12</samples>
</axis1>
<axis2 type="dynv">
<max_value type="float">1</max_value>
<min_value type="float">0</min_value>
<samples type="int32">12</samples>
</axis2>
<color_space type="int32">0</color_space>
<linearization type="bool">false</linearization>
<show_preview type="bool">true</show_preview>
<window type="dynv">
<height type="int32">345</height>
<width type="int32">406</width>
</window>
</color_space_sampler>
</tools>
</gpick>
</root>
