#mine
scc/
Natural\ Selection\ 2/

#generic
trashrc
vpngate*/
*/Cache/*
*/cache/*
*.log.*
*log*.txt
unity3d/
TUDelft/
transmission/*
!transmission/*.json
*/**/__pycache__/
*/**.swp
teamviewer
syncthing*
**/*/GPUCache*
**/*logs*/*
session/
remmina
Signal
qutebrowser
**/*.tmp
monero*
obs-studio/
obs-studio
gcloud/
freerdp/
evolution/
configstore/
Code/*
!Code/User
Code/User/globalStorage
Code/User/workspaceStorage
!Code/Preferences
!Code/*.json
google-chrome*/
chromium*/
opera*/
*.log
*xournalpp/*
!*xournalpp/**/*.xml
!*xournalpp/**/*.ini
lutris/
lutris
mpv/watch_later
dnsmasq
pulse/*
!pulse/**/*.conf
systemd/.old
nvim/plugged
ibus/
kdeconnect/
jellyfin*
borg
.netrwhist
nvim-qt/
wslu/triggered_time
