#mine
scc/
Natural\ Selection\ 2/

#generic
!*xournalpp/**/*.ini
!*xournalpp/**/*.xml
!Code/*.json
!Code/Preferences
!Code/User
!pulse/**/*.conf
!transmission/*.json
**/*.tmp
**/*/GPUCache*
**/*logs*/*
*.log
*.log.*
*/**.swp
*/**/__pycache__/
*/Cache/*
*/cache/*
*log*.txt
*xournalpp/*
.netrwhist
Code/*
Code/User/globalStorage
Code/User/workspaceStorage
Electron/
Signal
TUDelft/
borg
calibre/
chromium*/
configstore/
dnsmasq
enchant/*.dic
enchant/*.exc
evolution/
freerdp/
gcloud/
google-chrome*/
htop/
ibus/
inim/history.nim
inkscape/shell.history
jellyfin*
kdeconnect/
lutris
lutris/
monero*
mpv/watch_later
nvim-qt/
nvim/plugged
obs-studio
obs-studio/
opera*/
pulse/*
qalculate/
qutebrowser
remmina
session/
syncthing*
systemd/.old
teamviewer
transmission/*
trashrc
unity3d/
vimish-fold/
vpngate*/
wslu/triggered_time
TabNine/
github-copilot/
nushell/history.txt
# KDE
plasma-org.kde.plasma.desktop-appletsrc
libaccounts-glib/
bluedevilglobalrc
partitionmanagerrc
baloofileinformationrc
gwenviewrc
trashrc
kde.org/UserFeedback*
ksmserverrc
systemsettingsrc
kinfocenterrc
xdg-desktop-portal-kderc
PlasmaDiscoverUpdates
kwallet*
spectaclerc
